html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #2b28f3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #2b28f3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child { /*Takes the last child of tags withe class item*/
  border-bottom: 0;
}

input:checked+p { /* Takes the <p> that commes immediately after inputs with the value "checked"*/
  text-decoration: line-through;
  text-decoration-color: #2b28f3;
}

input[type="checkbox"] { /*select all inputs with the attribute "checkbox"*/
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item{
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2b28f3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #2b28f3;
}

::placeholder {
  color: grey;
  opacity: 0.5;
}

input[name="changeTo"]::placeholder{
  color: #fff;
  opacity: 1;
}

input[name="changeTo"]{
  text-align: justify;
  font-size: 1.5em;
  color: #fff;
  opacity: 1;
}

footer {
  color: white;
  text-align: center;
}